<%# title %>
<% provide :page_title, 'Edit question' %>

<%# header меню %>
<% currently_at 'Questions' %>

<h1 class="mb-4">Edit question</h1>

<%# Форма создания и редактирования нового вопроса %>
<%= render 'form' %>
