<%# title %>
<% provide :page_title, 'Edit profile' %>

<%# header меню %>
<% currently_at 'Edit profile' %>

<h1 class="mb-4">Edit profile</h1>

<%# Форма регистрации или обновления данных %>
<%= render 'form' %>
